.container{
    background-color: rgb(233, 231, 231);
    width: 100%;

}
.drop-label{
    width: 30px;
    background-color: white;
}
#short{
    width: 150px;
}
#short2{
    width: 50px;
}
#short-div{
    margin-left: 50px;
}